<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/style/admin.css">
<noscript>Die Webseite funktioniert richtig nur mit javascript</noscript>
</head>
<body>
    

    <div id="mySidenav" class="sidenav">
        <a href="/admin">Umsätze</a>
        <a href="#">Beschäftigte</a>
        <a href="/logout">Abmelden</a>
    </div>
    <h1 id="admin-sales-title"><%= pageTitle %>></h1>

    
</body>
</html>