<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/style/salesportal.css">
</head>
<body>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" id="close-btn">&times;</a>
        <a href="#">Kassiererverwaltung</a>
        <a href="#">Passwortändern</a>
        <a href="#">Abmelden</a>
    </div>
    <h3 id="open-side-nav">&#9776; Menu</h3>
        <div class= 'Services'>
            
        </div>
    
    
    <script src="/scripts/salesportal.js"></script>
    <noscript>Sie sollten javascript aktivieren</noscript>
</body>
</html>